.jumbotron {
    margin-top: 30px;
    padding: 15px;
    color: #FFF9F7;
}
.jumbotron img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
    .jumbotron h1, .userCertificateList h2 {
        border-bottom: 1px solid #c38d94;
    }
.userCertificateList h4 {
    color: #A76571;
}
.userCertificateList .row {
    margin-bottom: 2em;
    padding-bottom: 2em;
    border-bottom: 2px solid #A76571;
}
