@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
body {
    padding-top: 50px;
    padding-bottom: 20px;
    
}
.navbar-brand {
    font-family: 'Permanent Marker', cursive;
    font-size: 3em;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.btn-default, .userCertificateList .confirmButton {
    display: inline-block;
    padding: 15px;
    margin-top: 2em;
    background-color: #A76571;
    color: white;
    border-radius: 15px;
    border-bottom: 2px solid #C38D94;
    transition: all 1s ease;
    text-decoration: none;
    cursor: pointer;
}

  .btn-default:hover,  .userCertificateList .confirmButton:hover, .userCertificateList .confirmButton:focus {
        background-color: #C38D94;
        border-bottom-color: #A76571;
        transition: all 1s ease;
    }