@{
    ViewBag.Title = "Jane Smith";
}
@Styles.Render("~/Content/home_index.css")
<div class="jumbotron">
    <div class="row">
        <div class="col-md-3">
            <img src="~/Content/images/woman-photo.jpg" />
        </div>
        <div class="col-md-9">
            <h1>
                Jane Smith
            </h1>
            <h2>
                HR Specialist
            </h2>
        </div>
    </div>
</div>
<div class="userCertificateList">
    <div class="row">
        <div class="col-md-9">
            <div class="head">
                <h2>
                    Cerfiticate name
                </h2>
                <h4>
                    Organization
                </h4>
            </div>
            <div class="content">
                Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis. Nulla imperdiet sit amet magna. Vestibulum dapibus, mauris nec malesuada fames ac turpis velit, rhoncus eu, luctus et interdum adipiscing wisi. Aliquam erat ac ipsum. Integer aliquam purus.
            </div>
        </div>
        <div class="col-md-3">
            <a class="confirmButton">
                Verify this certificate
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="head">
                <h2>
                    Cerfiticate name
                </h2>
                <h4>
                    Organization
                </h4>
            </div>
            <div class="content">
                Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis. Nulla imperdiet sit amet magna. Vestibulum dapibus, mauris nec malesuada fames ac turpis velit, rhoncus eu, luctus et interdum adipiscing wisi. Aliquam erat ac ipsum. Integer aliquam purus.
            </div>
        </div>
        <div class="col-md-3">
            <a class="confirmButton">
                Verify this certificate
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="head">
                <h2>
                    Cerfiticate name
                </h2>
                <h4>
                    Organization
                </h4>
            </div>
            <div class="content">
                Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis. Nulla imperdiet sit amet magna. Vestibulum dapibus, mauris nec malesuada fames ac turpis velit, rhoncus eu, luctus et interdum adipiscing wisi. Aliquam erat ac ipsum. Integer aliquam purus.
            </div>
        </div>
        <div class="col-md-3">
            <a class="confirmButton">
                Verify this certificate
            </a>
        </div>
    </div>
</div>